<!DOCTYPE html>
<html>
    <head>
      <link rel="shortcut icon" href="static/tigerclubsicon.ico" />

      <meta charset="UTF-8" />
      <meta name="viewport" content="width-device-width, initial-scale-1.0" />
      <title>Tiger Clubs</title>
      <link rel="stylesheet" href="static/style.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
      <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
        rel="stylesheet"
      />
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
      ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-replace-svg="nest"
    ></script>
      <!------ Include the above in your HEAD tag ---------->
      <link rel="stylesheet" type="text/css" href="static/jquery.raty.css" />
      <script src="static/jquery.raty.js"></script>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel = "stylesheet" href = "static/button-hover-admin.css">
    </head>
  <body>
        <!--Menu bar-->
        {% include "admin-navbar.html" %}
        <div class="container" style="padding-top: 1rem;">
        <h3 style="text-align: center;">Admin Dashboard</h3>
        <div class="card-deck" style="padding: 2rem;">
          <style>
            .fa-plus-circle {
              cursor: pointer;
            }
            .fa-plus-circle:hover {
            color: #ffffff;
            background-color: #e8804c;
          }
            .card {
              transition: border-color 1s, box-shadow 0.5s;
              background-color: #ffbd81
            }
            .fa-trash:hover {
            width: 25px;
            height: 25px;
            line-height: 25px;
            padding: 5px;
            text-align: center;
            font-size: 15px;
            color: #ffffff;
            background-color: #e8804c;
          }
          .fa-edit:hover {
            width: 25px;
            height: 25px;
            line-height: 25px;
            padding: 5px;
            text-align: center;
            font-size: 15px;
            color: #ffffff;
            background-color: #e8804c;
          }
            
          .edit_tag, .delete_tag {
            display:inline-block;
          }
          </style>

<div class="card" >
    <div class="card-body" style="text-align: center;">
      <div style="position: absolute; text-align: right;">
        <div class="text-right">
          <i class="fas fa-plus-circle fa-3x" data-toggle="modal" data-target="#add-tag"></i>
        </div>
        </div>
      <div class="justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
          <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
          <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
        </svg>
      </div>
      <h2 class="card-title">Manage Tags</h2>
      <h4 class="card-text">View, edit, and add tags</h4>
    </div>
  <div class="col-sm-12 col-md-12" style="margin-top:5px">
    <form action="/admintags?netid={{netid}}&clubname={{clubname}}"
            method="get">
        <div class="form-group">
            <input type="text" name="tag" id="searchbar" class="form-control input-lg" placeholder="Search tags by name" />
        </div>
    </form>
    </div>
</div>
</div>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
          <!-- Page Features-->
            <div class="flex row mx-auto">
            {%for tag in tags:%}
            <div class="col-lg-6 col-xxl-4 mb-5">
              <div
                class="card border-0 h-100"
                style="background-color: white; outline-style: solid"
              >
                <div class="card-body text-center">
                  <section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <div class = "container">
                      <div class = "row">
                            <div class="col-md-12 col-sm-10 center-col text-right"> 
                            <div class = "edit_tag" data-tagname = "{{tag.name}}" data-tagid = "{{tag.tagid}}" data-toggle="modal" data-target="#change-name">
                              <i class="fas fa-edit i-extra-small-box"></i> 
                            </div>
                            <div class = "delete_tag" data-tagid = "{{ tag.tagid }}">
                                <i class="fas fa-trash i-extra-small-box"></i>
                            </div>
                            </div>
                          </div>
                          </div>
                </section>
                  <h2 class="fs-4 fw-bold">{{tag.name}}</h2>
                  <br />
                  <strong>Tag ID: </strong>{{tag.tagid}}
                  <br/>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
        </section>

          <div class="col-6">
            
            
          </div>



          <div id="add-tag" class="modal fade" role="dialog" aria-labelledby="addClubRatingLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modalfonts modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addClubRatingLabel">Create Tag</h4>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-hidden="true"> </button>
                </div>
                <!-- user types in club name to add their rating -->
                <div class="modal-body">
                    <!-- CLUB NAME -->
                <form>
                    <div class="form-group">

                    <br>

                    <!-- DIVERSITY RATING -->
                    <p class="ratelabel bg-light">Name:</label>
                    <input type="text" id="newtag" value=""></input>

                    <br>

                    </div>
                </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" name="newtagsave_button" data-tagid="" id="newtagsave_button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>







          <div id="change-name" class="modal fade" role="dialog" aria-labelledby="addClubRatingLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modalfonts modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addClubRatingLabel">Edit Tag</h4>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-hidden="true"> </button>
                </div>
                <!-- user types in club name to add their rating -->
                <div class="modal-body">
                    <!-- CLUB NAME -->
                <form>
                    <div class="form-group">

                    <br>

                    <!-- DIVERSITY RATING -->
                    <p class="ratelabel bg-light">New Name:</label>
                    <input type="text" id="newtagname" value=""></input>

                    <br>

                    </div>
                </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" name="save_button" data-tagid="" id="save_button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>  
        $(document).on('click', '.edit_tag', function() { 
            var tagname = $(this).data("tagname");
            var tagid = $(this).data("tagid");
            
            $("#newtagname").val(tagname);
            $("#save_button").data("tagid", tagid)
        });

        $(document).ready(function(){ 

            $('#save_button').click(function(){  
                console.log("that's it..");

                var newtagname = $('#newtagname').val();
                var tagid = $(this).data("tagid");

                if (newtagname != '') {  

                        $.ajax({  
                            url:"/updatingtags",  
                            method:"POST",  
                            data: {
                                newtagname:newtagname,
                                tagid:tagid
                            },  
                            success:function(data) {  
                                location.reload();  
                            }  
                        });  
                }  
                else {  
                    alert("All Fields are required");  
                }  
            });  

            $('#newtagsave_button').click(function(){  
                console.log("that's it..");

                var newtag = $('#newtag').val();

                if (newtagname != '') {  

                        $.ajax({  
                            url:"/creatingtags",  
                            method:"POST",  
                            data: {
                                newtag:newtag,
                            },  
                            success:function(data) {  
                                location.reload();  
                            }  
                        });  
                }  
                else {  
                    alert("All Fields are required");  
                }  
            });
            
            $(".delete_tag").click(function(){
                var tagid = $(this).data("tagid");
                var $target = $(this).parents(".card")

                url = "/deletetag?tagid=" + encodeURIComponent(tagid)
                $.ajax({
                    method: 'GET',
                    url: url,
                    success: function(){
                        $target.fadeOut("slow", function () {
                            location.reload(true);
                        });
                    }
                });
            });
        });

       </script>

  </body>
  {% include "footer.html" %}

</html>
