<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title> Tiger Clubs</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" type="text/css" href="static/jquery.raty.css">
    <script src="static/jquery.raty.js"></script>

</head>
  <body>
        <!--Menu bar-->
        <div class="menu-bar" style="background-color: #FFBD81;">
            <nav class="navbar navbar-expand-lg navbar-light" style="font-family: Merriweather;">
              <a class="navbar-brand" style="padding-left: 1%; font-size: 135% " href="/landing?netid={{netid}}">Student View</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" style="font-size: 110%;" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="/adminlanding">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/adminstudents">Student</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/adminclubs">Clubs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          
          <button type="button" class="btn btn-primary pull-right">Add Club</button>

          <div class="col-6">
            {%if hasClubs: %}
            {%for club in clubs: %}
            <div class="container" style="padding-top: 1rem;">
              <div class="card" style="width: 40rem; background-color: #ffe5cd;">
                <div class="card-body">
                  <h5 class="card-title">{{club}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{club}}</h6>
                  <p class="card-text">Description: {{club.description}} Long yada yaday ydaa</p>
                  <button type = "button" class = "btn btn-primary view_club"
                 data-clubname = "{{ club.name }}"
                 data-netid = "{{ netid }}">View</button>
                  <button type = "button" class = "btn btn-primary edit_club"
                 data-clubname = "{{ club.name }}">Edit</button>
                 <button type = "button" class = "btn btn-primary delete_club"
                 data-clubid = {{ club.clubid }}>Delete</button>
                </div>
              </div>
            </div>
            {% endfor %}
            {%else: %}
            No clubs found.
            {%endif%}
          </div>

          <script>
            $(document).ready(function() {

              function handleResponse(response)
              {
                $("body").html(response);
              }
            
              $(".edit_club").click(function(){
                var clubname = ($(this).data('clubname'));
                url = "/editclub?clubname=" + encodeURIComponent(clubname)
                $.ajax({
                  type: 'GET',
                  url: url,
                  success: handleResponse
                });
              });

              $(".view_club").click(function(){
                var clubname = ($(this).data('clubname'));
                var netid = ($(this).data('netid'));
                url = "/clubpage?clubname=" + encodeURIComponent(clubname) + "&netid=" + encodeURIComponent(netid)
                $.ajax({
                  type: 'GET',
                  url: url,
                  success: handleResponse
                });
              });
             
              $(".delete_club").click(function(){
                var clubid = $(this).data('clubid');
                alert(clubid);
                url = "/delete_club?clubid=" + encodeURIComponent(clubid)
                $.ajax({
                  url: url,
                  method: "GET",
                  success:function() {
                    alert('success');
                  }
                });
              });
            });
        </script>
  </body>
</html>