<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="static/tigerclubsicon.ico" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale-1.0">
  <title> Tiger Clubs</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" type="text/css" href="static/jquery.raty.css">
  <script src="static/jquery.raty.js"></script>
</head>

<body>
  {% include "admin-navbar.html" %}

  <div class="container" style="padding-top: 1rem;">
    <h3 style="text-align: center;">Admin Dashboard</h3>
    <div class="card-deck" style="padding: 2rem;">
      <style>
        .card {
          transition: border-color 1s, box-shadow 0.5s;
          background-color: #ffbd81
        }
      </style>
            <!-- Active Requests -->
            <div class="card" >
              <a class="stretched-link text-decoration-none" style="color: black">
                <div class="card-body" style="text-align: center;">
                  <div class="justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill"
              viewBox="0 0 16 16">
              <path
                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
            </svg>
                  </div>
                  <h2 class="card-title">Manage Requests</h2>
                  <h4 class="card-text">View, accept, and reject user requests</h4>
                </div>
              </a>
            </div>
    </div>
<br>
    <!-- TABLE WITH ALL ACTIVE REQUESTS -->
    <div class=" table-wrapper-scroll-y" style="position: relative;
     overflow: auto; display: block; height: 500px">
      <table class="table table-hover table-bordered table-responsive-sm">
        <style>
          tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
          }
        </style>
        <thead>
          <tr>
            <th class="th-sm" scope="col">#</th>
            <th class="th-sm">Request</th>
            <th scope="col">Description</th>
            <th scope="col">Sent by</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {%if hasRequests: %}
          {%for request in requests: %}
          <tr id='reviewRow_{{ request.requestid }}'>
            <th scope="row">{{ request.requestid }}</th>
            <td>{{request}}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.netid_sender }}</td>
            <td>
              <button type="button" class="btn btn-warning review" data-toggle="modal"
                data-target="#reviewModal_{{ request.requestid }}" style="background-color: #FFBD81;">View</a>
            </td>
          </tr>

          <div class="modal fade" id="reviewModal_{{ request.requestid }}" role="dialog"
            aria-labelledby="reviewRequestModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modalfonts modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Review Request {{ request.requestid }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6><strong>Request: </strong>{{ request }}</h6>
                  <h6><strong>Sent by: </strong>{{ request.netid_sender }}</h6>
                  <h6><strong>Description: </strong>{{ request.description }}</h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success {{ request.request_type }}"
                    data-request-type="{{ request.request_type }}" data-netid-sender="{{ request.netid_sender }}"
                    data-netid-about="{{ request.netid_about }}" data-clubid="{{ request.clubid }}"
                    data-clubname="{{ request.clubname }}" data-tagname="{{ request.tagname }}"
                    data-requestid="{{ request.requestid }}">Accept</a>
                    <button type="button" class="btn btn-danger reject"
                      data-requestid="{{ request.requestid }}">Reject</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {%endif%}
        </tbody>
      </table>
    </div>
  </div>

  <!--The requests-->
  <!-- <div class="col-6">
    {%if hasRequests: %}
    {%for request in requests: %}
    <div class="container" style="padding-top: 1rem;">
      <div class="card" style="width: 40rem; background-color: #ffe5cd;">
        <div class="card-body">
          <h5 class="card-title">Request</h5>
          <p class="card-text">{{request}}</p>
          <button type="button" class="btn btn-success {{ request.request_type }}"
            data-request-type="{{ request.request_type }}" data-netid-sender="{{ request.netid_sender }}"
            data-netid-about="{{ request.netid_about }}" data-clubid="{{ request.clubid }}"
            data-clubname="{{ request.clubname }}" data-tagname="{{ request.tagname }}"
            data-requestid="{{ request.requestid }}">Accept</a>
            <button type="button" class="btn btn-warning review" data-toggle="modal"
              data-target="#reviewModal_{{ request.requestid }}">Review</a>
              <button type="button" class="btn btn-danger reject" data-requestid="{{ request.requestid }}">Reject</a>
        </div>
      </div>
    </div> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="reviewModal_{{ request.requestid }}" role="dialog" aria-labelledby="reviewRequestModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modalfonts modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Review Request {{ request.requestid }}</h5>
        </div>
        <div class="modal-body">
          <h6><strong>Request: </strong>{{ request }}</h6>
          <h6><strong>Sent by: </strong>{{ request.netid_sender }}</h6>
          <h6><strong>Description: </strong>{{ request.description }}</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" name="save_button" id="save_button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {%else: %}
  No requests to look at right now.
  {%endif%}
  </div>  -->

  <script>
    $(document).ready(function () {

      function handleResponse(response) {
        $("body").html(response);
      }

      $(".0").click(function () {
        var netid = $(this).data('netid-about');
        var clubid = $(this).data('clubid');
        var requestid = $(this).data('requestid');
        var modalName = '#reviewModal_' + requestid
        var rowName = '#reviewRow_' + requestid
        $.ajax({
          url: "/delete_user",
          method: "GET",
          data: { netid: netid, clubid: clubid, requestid: requestid },
          success: function () {
            $('.modal').hide();
            $('.modal-backdrop').remove();
            $(rowName).slideToggle();
          }
        });
      });

      $(".1").click(function () {
        var netid = $(this).data('netid-about');
        var requestid = $(this).data('requestid');
        var modalName = '#reviewModal_' + requestid
        var rowName = '#reviewRow_' + requestid
        $.ajax({
          url: "/blacklist_user",
          method: "GET",
          data: { netid: netid, requestid: requestid },
          success: function (data) {

            $('.modal').hide();
            $('.modal-backdrop').remove();
            $(rowName).slideToggle();
          }
        });
      });

      $(".2").click(function () {
        var netid = $(this).data('netid-about');
        url = "/editprofile?netid=" + encodeURIComponent(netid)
        $.ajax({
          type: 'GET',
          url: url,
          success: function () {
              window.location.href=url;
            },
        });
      });

      $(".3").click(function () {
        var clubname = $(this).data('clubname');
        url = "/editclub?clubname=" + encodeURIComponent(clubname)
        $.ajax({
          type: 'GET',
          url: url,
          success: function () {
              window.location.href=url;
            },
        });
      });

      $(".4").click(function () {
        var tagname = $(this).data('tagname');
        var requestid = $(this).data('requestid');
        var modalName = '#reviewModal_' + requestid
        var rowName = '#reviewRow_' + requestid
        $.ajax({
          url: "/add_tag",
          method: "GET",
          data: { tagname: tagname, requestid: requestid },
          success: function (data) {
            $('.modal').hide();
            $('.modal-backdrop').remove();
            $(rowName).slideToggle();
          }
        });
      });

      $(".reject").click(function () {
        var requestid = $(this).data('requestid');
        var modalName = '#reviewModal_' + requestid
        var rowName = '#reviewRow_' + requestid
        $.ajax({

          url: "/reject_request",
          method: "GET",
          data: { requestid: requestid },
          success: function (data) {
            $('.modal').hide();
            $('.modal-backdrop').remove();
            $(rowName).slideToggle();
          }
        });
      });

    });
  </script>
  <br>
  <br>

</body>
{% include "footer.html" %}

</html>
