<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="static/tigerclubsicon.ico" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Small Business - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->

  <link rel="stylesheet" href="static/ratings.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" type="text/css" href="static/jquery.raty.css" />
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="static/styles.css" rel="stylesheet" />

  <script src="static/jquery.raty.js"></script>
</head>

<body style="background-color:rgb(255, 247, 243)">
  {% include "navbar.html" %}
  <!-- Page Content-->
  <div class="row px-4 px-lg-5 my-5 py-5">
    <!-- CLUB NAME HEADING CARD -->
    <div class="col-8">
      <div class="card">
        <div class="col">
          <img src="https://picsum.photos/100" style="float: left; padding: 10px; padding-left: 0">
          <h1 class="font-weight-bold" style="padding: 20px; padding-bottom: 0;">{{clubname}}</h1>
          {%for tag in tags: %}
          <div class="tag">
            <div class="rounded-pill" style="background-color: #fcc397; color: #db6225; padding: .25rem; margin:
              10px; margin-top: 0">
              {{tag}}
            </div>
          </div>
          <style>
            .tag {
              display: inline-block;
              padding-right: 0.25rem;
              padding-left: 0.25rem;
            }
          </style>
          {% endfor %}
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="font-weight-bold" style="padding: 20px;">Description</h3>
        <div class="col">
          <p>IgniteSTEM is an international platform for the STEM revolution in K-12 education. Through conferences,
            resources, and more grassroots efforts we aspire to help educators and students build the classroom of the
            future.</p>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION CARD -->
    <div class="col-4">
      <div class="card text-white text-center" style="background-color: #e8804c">
        <div class="card-body">
          <ul class="justify-content-center">
            <div class="row" style="width: 100%;">
              <li class="list-group-item">
                <strong>Diversity: </strong> {{diversity}} <br />
                {% set unselected = 5 - (diversity|int)%}
                <div id="inlinereview">
                  {% for i in range(diversity|int) %}
                  <i aria-hidden="true" class="fa fa-star"></i>
                  {% endfor %} {% for i in range(unselected) %}
                  <i aria-hidden="true" class="fa fa-star-o"></i>
                  {% endfor %}
                </div>
              </li>
            </div>
            <div class="row" style="width: 100%;">
              <li class="list-group-item">
                <strong>Inclusivity: </strong>{{inclusivity}} {% set unselected
                  = 5 - (inclusivity|int)%}
                <div id="inlinereview">
                  {% for i in range(inclusivity|int) %}
                  <i aria-hidden="true" class="fa fa-star"></i>
                  {% endfor %} {% for i in range(unselected) %}
                  <i aria-hidden="true" class="fa fa-star-o"></i>
                  {% endfor %}
                </div>
              </li>
            </div>
            <div class="row" style="width: 100%;">
              <li class="list-group-item">
                <strong>Time Commitment: </strong>{{time_commitment}} {% set
                  unselected = 5 - (time_commitment|int)%}
                <div id="inlinereview">
                  {% for i in range(time_commitment|int) %}
                  <i aria-hidden="true" class="fa fa-star"></i>
                  {% endfor %} {% for i in range(unselected) %}
                  <i aria-hidden="true" class="fa fa-star-o"></i>
                  {% endfor %}
                </div>
              </li>
            </div>
            <div class="row" style="width: 100%;">
              <li class="list-group-item">
                <strong>Workload:</strong> {{workload}} {% set unselected = 5 -
                  (workload|int)%}
                <div id="inlinereview">
                  {% for i in range(workload|int) %}
                  <i aria-hidden="true" class="fa fa-star"></i>
                  {% endfor %} {% for i in range(unselected) %}
                  <i aria-hidden="true" class="fa fa-star-o"></i>
                  {% endfor %}
                </div>
              </li>
            </div>
            <div class="row" style="width: 100%;">
              <li class="list-group-item">
                <strong>Experience Requirement: </strong>
                {{experience_requirement}} {% set unselected = 5 -
                  (experience_requirement|int)%}
                <div id="inlinereview">
                  {% for i in range(experience_requirement|int) %}
                  <i aria-hidden="true" class="fa fa-star"></i>
                  {% endfor %} {% for i in range(unselected) %}
                  <i aria-hidden="true" class="fa fa-star-o"></i>
                  {% endfor %}
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-primary" href="#!">Website</a>

  <!-- Content Row-->
  <section>
    <div class="container py-5 px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
        <h4><strong>Club Members:</strong></h4>
        <br />
        <br />
        {%for member in members: %}
        <div class="col-lg-6 col-xxl-3 mb-5">
          <div class="card border-0 h-100" style="background-color: white">
            <div class="card-body text-center">
              <img class="rounded-circle"
                src="https://www.mcgregorkitchens.co.nz/app/uploads/2020/04/placeholder-profile.jpg" width="100"
                height="100" />
              <a href="/profile?diffperson={{member.netid}}" class="card-link stretched-link"></a>
              <h2 class="fs-4 fw-bold">{{member.name}}</h2>
              {{member.netid}}
              <br />
              {{member.year}}
              <br />
              {{member.res_college}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </section>

  <!-- Footer-->
  {% include "footer.html" %}

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

</html>