<!DOCTYPE html>
<head>
  <meta charset = "UTF-8">
  <meta name= "viewport" content= "width-device-width, initial-scale-1.0">
  <title> Tiger Clubs</title>
  <link rel="stylesheet" href="style.css" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  <link href="/main.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
  <div class = "menu-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/landing?netid={{netid}}">TigerClubs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/profile?netid={{netid}}">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Voting!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Logout</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  <div class = "container-fluid">
    <br>
    <div class="row d-flex justify-content-center">
      <h2>{{clubname}}</h2>
      </div>
    <br>
    <br>
    <div class="row d-flex justify-content-center">
      <figure class="figure">
        <img src=".../400x300" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption">Potentially picture here</figcaption>
      </figure>
    </div>
    <div class="row d-flex justify-content-center">
        <h3>Basic Info </h3>
        </div>
    <div class="row d-flex justify-content-center">
        <p> <strong>Description: {{description}}</strong> <br>
        <strong>Members: </strong> <br>
        {%for member in members: %}
          <strong>&emsp;{{member}}</strong>
          {% endfor %}
        <br> <strong>Tags: </strong> <br>
        {%for tag in tags: %}
          <strong>&emsp;{{tag}}</strong>
          {% endfor %}
        <br>
        <br>
        <a href="#">Link to club website</a>
          </p>
          
    </div>
    {%if hasScores: %}
    <div class="row d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Diversity score: </strong> {{diversity}}</li>
          <li class="list-group-item"><strong>Inclusivity score: </strong>{{inclusivity}}</li>
          <li class="list-group-item"> <strong>Time Commitment score: </strong>{{time_commitment}}</li>
          <li class="list-group-item"> <strong>Workload score:</strong> {{workload}}</li>
          <li class="list-group-item"> <strong>Experience Requirement score: </strong> {{experience_requirement}}</li>
        </ul>
      </div>
    </div>
    {%else: %}
      No reviews yet. 
    {%endif%}
  </div>
</body>
</html>
