<!DOCTYPE html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale-1.0">
  <title> Tiger Clubs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

</head>

<body>
  <div class="menu-bar" style="background-color: #FFBD81;">
    <nav class="navbar navbar-expand-lg navbar-light" style="font-family: Merriweather;">
      <a class="navbar-brand" style="padding-left: 1%; font-size: 135% " href="/landing?netid={{netid}}">Tiger Clubs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" style="font-size: 110%;" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/profile?netid={{netid}}">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ranking">Voting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myratings">My Ratings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid" style="padding-top: 2%; padding-left: 3.75%;">
    <div class="row">
      <div class="col-3" style="font-family: Merriweather; ">
        <h3> Hi {{name}} !</h3>
      </div>
      <div class="col-6 d-flex justify-content-center" style="font-family: Merriweather; ">
        <h4> Club Rankings </h4>
      </div>
      <div class="col-3" style="font-family: Merriweather; padding-left: 7%;">
        <h4> Students</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3" style="padding-top: 1rem;">
        <form class="form-inline my-2 my-lg-0" action="/landing?netid={{netid}}&studentname={{studentname}}"
          method="get">
          <input class="form-control mr-sm-2" type="search" name="clubname" placeholder="Search name, tag etc"
            value="{{clubname}}" aria-label="Search">
          <button class="btn btn-outline my-2 my-sm-0" style="background-color: #fac390;" type="submit">Search</button>
        </form>
        <form class="form-inline my-2 my-lg-0" style="padding-top: 4%;"
          action="/landing?netid={{netid}}&clubname={{clubname}}" method="get">
          <input class="form-control mr-sm-2" type="search" name="studentname" placeholder="Search Student"
            value="{{studentname}}" aria-label="Search">
          <button class="btn btn-outline my-2 my-sm-0" style="background-color: #fac390;" type="submit">Search</button>
        </form>
      </div>
      <div class="col-6">
        {%if hasClubs: %}
        {%for club in clubs: %}
        <div class="container" style="padding-top: 1rem;">
          <div class="card" style="width: 40rem; background-color: #ffe5cd;">
            <div class="card-body">
              <h5 class="card-title">{{club}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{club}}</h6>
              <p class="card-text">Description: {{club.description}} Long yada yaday ydaa</p>
              <a href="/clubpage?clubname={{club}}&netid={{netid}}" class="card-link stretched-link"></a>
            </div>
          </div>
        </div>
        {% endfor %}
        {%else: %}
        No clubs found.
        {%endif%}
      </div>
      <div class="col-3">
        <!-- Here;s where we can print out all the students that match the input "student" -->
        {% if hasStudents: %}

        {%for student in students:%}
        <div class="container" style="padding-top: 1rem;">
          <div class="card" style="width: 15rem; background-color: #fac390;">
            <div class="card-body" style="padding-bottom: 0rem;">
              <img class="rounded-circle"
                src="https://www.mcgregorkitchens.co.nz/app/uploads/2020/04/placeholder-profile.jpg" width="100"
                height="100">
            </div>
            <div class="card-body" style="padding-top: 0rem;">
              <h5 class="card-title">{{club}}</h5>
              <a href="/profile?diffperson={{student.netid}}" class="card-link stretched-link"></a>
              <h5>{{student.name}}</h5>
              {{student.netid}}
              <br>
              {{student.year}}
              <br>
              {{student.res_college}}
            </div>
          </div>
        </div>
        {% endfor %}
        {% else: %}
        No person found.
        {% endif %}
      </div>
    </div>
  </div>
</body>

</html>