<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TigerClubs</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="static/choices.css">
    <!------ Include the above in your HEAD tag ---------->
    <link href="static/styles.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />

</head>

<body>
    {% include "navbar.html" %}

    <style>
        .parallax {
            /* The image used */
            background-image: url("/static/darkprinceton.png");

            /* Set a specific height */
            min-height: 200px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <!-- Container element -->
    <div class="parallax" style="padding-top: 5rem; padding-bottom: 2rem;">
        <div class="container bg-dark" style="height: 10rem;">
            <div class="text-center py-5" style="color: white">
                <h3> <strong>Hi {{name}}</strong></h3>
                <p>Check out club rankings for Fall 2021-2022</p>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 4rem;">
        <div class="row mx-auto" style="justify-content:space-around">
            <div class="col-xxl-9 gx-lg-7">
                <div class="row mx-auto" style="width: 90%;">
                    <form class="form-inline my-2 my-lg-0" style="padding-top: 2%; padding-bottom: 1rem;"
                        action="/landing" method="get">
                        <div class="flex-container-search">

                            <div class="flex-item  col-10">
                                <input id="searchInput" class="form-control" type="search" name="clubname"
                                    placeholder="Search for a club by name or tags" value="{{query}}"
                                    aria-label="Search" maxlength="120" />
                            </div>
                            <div class="flex-item col-2">
                                <button class="btn btn-outline input-block-level"
                                    style="background-color: #e8804c; width:100%;" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- <form class="input-group mx-auto" action="/landing" style="padding-bottom: 1rem; width: 100%;"
                        method="get">
                        <input id="searchInput" type="search" class="form-control rounded" name="clubname"
                            placeholder="Search for a club by name or tags" value="{{query}}" aria-label="Search" />
                        <button type="submit" class="btn text-black rounded"
                            style="background-color: #e8804c;">Search</button>
                    </form> -->
                    {%if hasClubs: %}
                    {%for club in clubs.items: %}
                    <div class="card mx-auto bg-light"
                        style="background-color: whitesmoke; width:55rem; margin: 10px; padding: 0;">
                        <div class="row" style="width: 100%;">
                            <div class="col-4" style="height: 100%;">
                                <img src="{{club.pictureURL}}" class="card-image-top" alt="">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div style="justify-content: space-between;">
                                        <h5 class="card-title" style="color: black;">
                                            {{club}}
                                        </h5>
                                        <!-- <h7> <strong>#1 </strong>club <strong>Overall</strong></h7>
                                        <br> -->
                                        {% set unselected = 5 - (club.combined|int)%}
                                        <div id="inlinereview">
                                            {% for i in range(club.combined|int) %}
                                            <i aria-hidden="true" class="fa fa-star"></i>
                                            {% endfor %}
                                            {% for i in range(unselected) %}
                                            <i aria-hidden="true" class="fa fa-star-o"></i>
                                            {% endfor %}
                                        </div>

                                        <style>
                                            .fa-star,
                                            .fa-star-o,
                                            .fa-star-half-o {
                                                display: inline-block;
                                                color: #FDC91B;
                                                font-size: 25px !important;
                                            }

                                            #inlinereview {
                                                display: inline-block;
                                            }

                                            .card {
                                                flex-direction: row;
                                            }

                                            .card img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        </style>
                                        <!-- {% if prev != "Club Name" %}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                            style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                            #{{ ((pagenum - 1) * 20) + loop.index }} in {{ prev }}</h6>
                                        {% endif %} -->

                                        {% if prev == "Overall" and club.ranking_over %}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        #{{club.ranking_over}} in {{ prev }}</h6>
                                        {% elif prev == "Diversity" and club.ranking_div%}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        #{{club.ranking_div}} in {{ prev }}</h6>
                                        {% elif prev == "Inclusivity" and club.ranking_inc%}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        #{{club.ranking_inc}} in {{ prev }}</h6>
                                        {% elif prev == "Time Commitment" and club.ranking_time%}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        #{{club.ranking_time}} in {{ prev }}</h6>
                                        {% elif prev == "Workload" and club.ranking_work%}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        #{{club.ranking_work}} in {{ prev }}</h6>
                                        {% elif prev == "Experience Requirement" and club.ranking_exp%}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        #{{club.ranking_exp}} in {{ prev }}</h6>
                                        {% else %}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                        style="font-weight: bold; font-size: medium; padding-top: 10px;">
                                        Presently Unranked</h6>
                                        {% endif %}
                                        <h6 class="card-subtitle mb-2 text-muted"
                                            style="font-style: italic; font-size: small; padding-top: 10px;">
                                            <strong>Description:</strong>
                                            {{club.description[:250] + "..."}}
                                        </h6>
                                        <!-- <strong id="element1">Overall: </strong> 
                                {{"{:.1f}".format(club.combined)}} -->

                                    </div>

                                    {%for tag in club.tags: %}
                                    <div class="tag">
                                        <div class="badge text-white" style="background-color: #e8804c;">{{tag}}
                                        </div>
                                    </div>
                                    <style>
                                        .tag {
                                            display: inline-block;
                                            font-size: small;
                                            padding-right: 0.25rem;

                                        }
                                    </style>
                                    {% endfor %}


                                    <a href="/clubpage?clubname={{club.name}}" class="card-link stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .card:hover {
                            box-shadow: 1px 8px 15px grey;
                            -webkit-transition: box-shadow 0.05s ease-in;
                        }
                    </style>
                    {% endfor %}
                    {%else: %}
                    No clubs found.
                    {%endif%}
                </div>
            </div>
            <div class="col-lg-4 col-xxl-3" style="width: 15rem;">
                <div class="form-floating" style="width: 14rem;">
                    <select class="form-select" id="sort_club" aria-label="Floating label select example"
                        data-select="{{ sort_by }}" data-prev="{{ prev }}">
                        <option value="Overall">Overall</option>
                        <option value="Diversity">Diversity</option>
                        <option value="Inclusivity">Inclusivity</option>
                        <option value="Time Commitment">Time Commitment</option>
                        <option value="Workload">Workload</option>
                        <option value="Experience Requirement">Experience Requirement</option>
                        <option value="Club Name">Club Name</option>
                    </select>
                    <label for="floatingSelect">Sort clubs by</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <!-- Pagination Links-->
    <div class="float-right">
        <a href="{{ url_for('landing', query = query, page=clubs.prev_num) }}" class="btn btn-outline-dark 
                  {% if clubs.page == 1 %}disabled{% endif %}">
            &laquo;
        </a>
        <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in clubs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if clubs.page == page_num %}
        <a href="{{ url_for('landing', query = query, page=page_num, prev = prev) }}" class="btn btn-dark">
            {{ page_num }}
        </a>
        {% else %}
        <a href="{{ url_for('landing', query = query, page=page_num, prev = prev) }}" class="btn btn-outline-dark">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
        <a href="{{ url_for('landing', query = query, page=clubs.next_num) }}" class="btn btn-outline-dark 
                  {% if clubs.page == clubs.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="text-right mt-3">
        Showing page {{ clubs.page }} of {{ clubs.pages }}
    </p>


    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
    <script>
        // var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {}, $checkboxes = $(".tags_tags:checkbox");
        // $("#collapseExample2").change(function () {
        //         $checkboxes.each(function(){
        //             checkboxValues[this.id] = this.checked;
        //         });
        //         console.log(checkboxValues)
        //         localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
        //         alert("CHANGE!")
        //         var s = $('.tags_tags:checkbox:checked');
        //         var sortQuery = $("#sort_club").val();
        //         var searchQuery = $("#searchInput").val();
        //         var checkedVals = $('.tags_tags:checkbox:checked').map(function() {
        //             return this.value;
        //         }).get();
        //         console.log(checkedVals)
        //         url = "/landing?clubname=" + encodeURIComponent(searchQuery) + "&sort=" + encodeURIComponent(sortQuery) + "&tags=" + encodeURIComponent(checkedVals);
        //         $.ajax({
        //             type: 'GET',
        //             url: url,
        //             success: function () {
        //                 location.replace(url)
        //             },
        //         });

        //     });

        //     console.log(checkboxValues)

        //     $.each(checkboxValues, function(key, value) {
        //         $("#" + key).prop('checked', value);
        //     });
        prev = $("#sort_club").data('prev')
        $("#sort_club").val(prev);

        $(document).ready(function () {
            $("#sort_club").change(function () {
                var sortQuery = $("#sort_club").val();
                var searchQuery = $("#searchInput").val()
                url = "/landing?clubname=" + encodeURIComponent(searchQuery) + "&sort=" + encodeURIComponent(sortQuery);
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function () {
                        window.location.href = url;
                    },
                });
            });

            // var select = sort_by
            // $('#sort_club').val(select);
        });
    </script>
</body>

<!-- $("#searchInput").on('input', function(){
    let searchQuery = $("#searchInput").val()
    // alert(searchQuery);
}); -->

</html>