<!DOCTYPE html>

<head>
    <link rel="shortcut icon" href="static/tigerclubsicon.ico" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
    <title> Tiger Clubs</title>
    <link rel="stylesheet" href="static/ratings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" type="text/css" href="static/jquery.raty.css">
    <script src="https://kit.fontawesome.com/38de75e948.js" crossorigin="anonymous"></script>
    <link href="static/styles.css" rel="stylesheet" />
    <link rel = "stylesheet" href = "static/button-hover-admin.css">

    <script src="static/jquery.raty.js"></script>


    <style>
        .span{
            display:inline-block; 
            word-wrap: break-word;
        }
    </style>
</head>


<body style="background-color: white">
    {% include "navbar.html" %}

    <style>
        .parallax {
            /* The image used */
            background-image: url("/static/darkprinceton.png");

            /* Set a specific height */
            min-height: 200px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn-light {
            color: #fff;
            background-color: #e8804c;
            border-color: #e8804c; /*set the color you want here*/
        }

        .editrating, .deleterating {
            display:inline-block;
          }

    </style>

    <!-- Container element -->
    <div class="parallax" style="padding-top: 5rem; padding-bottom: 2rem;">
        <div class="container bg-dark" style="height: 16rem;">
            <div class="text-center pt-5 pb-2" style="color: white">
                <h3> <strong>Rank your clubs !</strong></h3>
                <p class="lead">Here, you can see how you previously rated your clubs.</p>
            </div>
            <div class="container text-center">
                <div class="row mx-auto">
                    <div class="col mx-auto">
                        <button type="button" data-toggle="modal" class="ratebtn btn-lg btn-block"
                        style="background-color: #e8804c" data-target="#add-club-rating">Rate club </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container md py-5">
        <!-- prints all reviews a student has left for their clubs -->
        <div class="flex row mx-auto">
            {%for r in review: %}
            <div class="flex-item clubcard card bg-light" href="/clubpage?clubname={{review.clubname}}"
                style="width: 24rem; padding-left: 0%; padding-right: 0%;">
                
                <header class="card-header fs-4 fw-bold" style="padding-left: 0%; padding-right: 0%;"> 
                    <div class="btn-group dropright float-right">
                        
                        <button class="btn btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item btn btn-sm float-right" type="button" id="deleteratingmodal"
                            title="Delete" data-reviewid="{{r.reviewid}}" data-label="Delete Rating for {{r.club[0]}}"
                            data-toggle = "modal" data-target = "#delete_sure_modal">
                                <i data-placement="top" title="Delete rating" data-toggle="tooltip" class="fas fa-trash"></i> Delete Review
                            </button>
                            <button class="dropdown-item btn btn-sm float-right"type="button" id="editrating"
                            title="Edit" data-id="{{r.reviewid}}" data-title="Edit Rating for {{r.club[0]}}"
                            data-clubname = "{{r.club[0]}}" data-div = "{{r.diversity}}" data-inc = "{{r.inclusivity}}"
                            data-work = "{{r.workload}}" data-exp = "{{r.experience_requirement}}" data-time = "{{r.time_commitment}}"
                            data-review = "{{r.text_review}}" data-toggle="modal" data-target="#edit-club-rating">
                                <i data-placement="top" title="Edit Rating" data-toggle="tooltip" class="fas fa-edit"></i> Edit Review
                            </button>
                      </div>
                      </div>

                    <br>
                    {{r.club[0]}}

                    
                </header>

                <br>
                <div class = "card-body">

                {% set unselected = 5 - (r.diversity|int)%}
                <div id="inlinereview">
                    <h6>Diversity: </h6>
                    {% for i in range(r.diversity|int) %}
                    <i aria-hidden="true" class="fas fa-star"></i>
                    {%endfor%}
                    {% for i in range(unselected)%}
                    <i aria-hidden="true" class="far fa-star"></i>
                    {%endfor%}
                    
                </div>
                <br>
                <div class="border-top my-3"></div>

                {% set unselected = 5 - (r.inclusivity|int)%}
                {% set tester = (r.inclusivity|int)%}
                <div id="inlinereview">
                    <h6>Inclusivity: </h6>
                    {% for i in range(r.inclusivity|int) %}
                    <i aria-hidden="true" class="fas fa-star"></i>
                    {%endfor%}
                    {% for i in range(unselected)%}
                    <i aria-hidden="true" class="far fa-star"></i>
                    {%endfor%}
                </div>
                <br>
                <div class="border-top my-3"></div>


                {% set unselected = 5 - (r.time_commitment|int)%}
                <div id="inlinereview">
                    <h6>Time Commitment: </h6>

                    {% for i in range(r.time_commitment|int) %}
                    <i aria-hidden="true" class="fas fa-star"></i>
                    {%endfor%}
                    {% for i in range(unselected)%}
                    <i aria-hidden="true" class="far fa-star"></i>
                    {%endfor%}
                </div>
                <br>
                <div class="border-top my-3"></div>


                {% set unselected = 5 - (r.experience_requirement|int)%}
                <div id="inlinereview">
                    <h6>Experience Requirement: </h6>

                    {% for i in range(r.experience_requirement|int) %}
                    <i aria-hidden="true" class="fas fa-star"></i>
                    {%endfor%}
                    {% for i in range(unselected)%}
                    <i aria-hidden="true" class="far fa-star"></i>
                    {%endfor%}
                </div>
                <br>
                <div class="border-top my-3"></div>
                {% set unselected = 5 - (r.workload|int)%}
                <div id="inlinereview">
                    <h6> Workload:</h6>

                    {% for i in range(r.workload|int) %}
                    <i aria-hidden="true" class="fas fa-star"></i>
                    {%endfor%}
                    {% for i in range(unselected)%}
                    <i aria-hidden="true" class="far fa-star"></i>
                    {%endfor%}
                </div>
                <br>
                <div class="border-top my-3"></div>

                <!-- <div id="inlinereview">
                    <h6> Review:</h6>
                    <p class="lead" style="font-size: 15px;">{{r.text_review}}</p>
                </div> -->
                    <span style="font-size: 15px;">
                        <h6> Review:</h6>
                        {{r.text_review}}
                    </span>


            </div>
            <br>
            </div>
            {% endfor %}
        </div>


    </div>
    <br>

    <div class="modal" tabindex="-1" role="dialog" id = "delete_sure_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id = "label"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <form>
                <input type = "hidden" id = "reviewid">
            </form>
              <p>Are you sure you want to delete this review? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" id="deleterating" class="btn btn-danger">Delete Review</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Go Back</button>
            </div>
          </div>
        </div>
      </div>


    <div id="edit-club-rating" class="modal fade" role="dialog" aria-labelledby="editClubRatingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modalfonts modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editClubRatingLabel"></h4>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-hidden="true"> </button>
                </div>
                <!-- user types in club name to add their rating -->
                <div class="modal-body">
                    <!-- CLUB NAME -->
                    <form>
                        <div class="form-group">
                            <input type = "hidden" id="clubname_edit" name="clubname">
                            <input type = "hidden" id="review_id" name="reviewid">
                            <!-- DIVERSITY RATING -->
                            <p class="ratelabel bg-light">Diversity</label>

                                <div class="stars">
                                    <div id="diversity_edit"></div>
                                </div>
                                <br>


                                <!-- INCLUSIVITY RATING -->
                                <p class="ratelabel bg-light">Inclusivity</p>

                                <div class="stars">
                                    <div id="inclusivity_edit"></div>
                                </div>
                                <br>

                                <!-- TIME COMMITMENT RATING -->
                                <p class="ratelabel bg-light">Time Commitment</p>

                                <div class="stars">
                                    <div id="time_commitment_edit"></div>
                                </div>
                                <br>


                                <!-- WORKLOAD RATING -->
                                <p class="ratelabel bg-light">Workload</p>
                                <div class="stars">
                                    <div id="workload_edit"></div>
                                </div>
                                <br>

                                <!-- EXPERIENCE REQUIRED RATING -->
                                <p class="ratelabel bg-light">Experience Required</p>
                                <div class="stars">
                                    <div id="experience_requirement_edit"></div>
                                </div>
                                <br>

                                <!-- REVIEWS -->
                                <p class="ratelabel bg-light">Review</p>
                                <textarea id="text_review_edit" type="text" maxlength="600" rows = "6" cols ="46"></textarea>

                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" name="save_button_edit" id="save_button_edit" class="btn btn-primary">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add-club-rating" class="modal fade" role="dialog" aria-labelledby="addClubRatingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modalfonts modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addClubRatingLabel">Add a new Rating</h4>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-hidden="true"> </button>
                </div>
                <!-- user types in club name to add their rating -->
                <div class="modal-body">
                    <!-- CLUB NAME -->
                    <form>
                        <div class="form-group">
                            <p class="clubname bg-light ratelabel">Club Name</p>
                            <!-- <input type="text" class="form-control" id="clubname" aria-describedby="clubName"
                            placeholder="e.g. IgniteSTEM, Roaring 20, COS Council"> -->
                            <select id="clubname" aria-describedby="clubName" name="clubname" class="form-control">
                                <option value="none" selected disabled hidden>
                                    Select a Club
                                </option>
                                {% for club in clubs: %}
                                <option value="{{club}}">{{club}}</option>
                                {% endfor %}
                            </select>
                            <br>

                            <!-- DIVERSITY RATING -->
                            <p class="ratelabel bg-light">Diversity</label>

                                <div class="stars">
                                    <div id="diversity"></div>
                                </div>
                                <br>


                                <!-- INCLUSIVITY RATING -->
                                <p class="ratelabel bg-light">Inclusivity</p>

                                <div class="stars">

                                    <div id="inclusivity"></div>
                                </div>
                                <br>

                                <!-- TIME COMMITMENT RATING -->
                                <p class="ratelabel bg-light">Time Commitment</p>

                                <div class="stars">

                                    <div id="time_commitment"></div>
                                </div>
                                <br>


                                <!-- WORKLOAD RATING -->
                                <p class="ratelabel bg-light">Workload</p>
                                <div class="stars">

                                    <div id="workload"></div>
                                </div>
                                <br>

                                <!-- EXPERIENCE REQUIRED RATING -->
                                <p class="ratelabel bg-light">Experience Required</p>
                                <div class="stars">

                                    <div id="experience_requirement"></div>
                                </div>
                                <br>

                                <!-- REVIEWS -->
                                <p class="ratelabel bg-light">Review</p>
                                <textarea id="text_review" type="text" maxlength="600" rows = "6" cols ="46"></textarea>

                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" name="save_button" id="save_button" class="btn btn-primary">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        $.raty.path = 'static/images';
        $('#diversity').raty();
        $('#inclusivity').raty();
        $('#workload').raty();
        $('#time_commitment').raty();
        $('#experience_requirement').raty();
        $('#diversity_edit').raty()
        $('#inclusivity_edit').raty();
        $('#workload_edit').raty();
        $('#time_commitment_edit').raty();
        $('#experience_requirement_edit').raty();
    
        $('#delete_sure_modal').on('show.bs.modal', function (event) {

            var reviewid = $(event.relatedTarget).data('reviewid');
            var label = $(event.relatedTarget).data('label');

            $(this).find("#label").text(label);
            $(this).find("#reviewid").val(reviewid);
            });
        
        $(document).on('click', '#deleterating', function () {
            var reviewid = $('#reviewid').val();
            $.ajax({
                url: "/removingvote",
                method: "POST",
                data: { reviewid: reviewid },
                success: function (data) {
                    location.reload();
                }
            });
        });

        $('#edit-club-rating').on('show.bs.modal', function (event) {

            var title = $(event.relatedTarget).data('title');
            var clubname = $(event.relatedTarget).data('clubname');
            var review = $(event.relatedTarget).data('review');
            var id = $(event.relatedTarget).data('id');
            var diversity = $(event.relatedTarget).data('div');
            var inclusivity = $(event.relatedTarget).data('inc');
            var workload = $(event.relatedTarget).data('work');
            var time_commitment = $(event.relatedTarget).data('time');
            var experience_requirement = $(event.relatedTarget).data('exp');

            // $('#diversity_edit').raty('setScore', diversity);
            // $('#inclusivity_edit').raty({score: inclusivity});
            // $('#workload_edit').raty({score: workload});
            // $('#time_commitment_edit').raty({score: time_commitment});
            // $('#experience_requirement_edit').raty({score: experience_requirement});

            $(this).find("#editClubRatingLabel").text(title);
            $(this).find("#clubname_edit").val(clubname);
            $(this).find("#review_id").val(id);
            $(this).find("#text_review_edit").val(review);

        });

        $(document).ready(function () {

            $('#save_button').click(function () {

                var clubname = $('#clubname').val();
                var diversity = $('#diversity').data('raty').score();
                var inclusivity = $('#inclusivity').data('raty').score();
                var workload = $('#workload').data('raty').score();
                var time_commitment = $('#time_commitment').data('raty').score();
                var experience_requirement = $('#experience_requirement').data('raty').score();
                var text_review = $("#text_review").val();

                console.log(text_review);

                if (clubname != '' && diversity && inclusivity && workload && time_commitment
                    && experience_requirement && text_review) {

                    $.ajax({
                        url: "/voting",
                        method: "POST",
                        data: {
                            clubname: clubname,
                            diversity: diversity,
                            inclusivity: inclusivity, workload: workload,
                            time_commitment: time_commitment,
                            experience_requirement: experience_requirement,
                            text_review: text_review
                        },
                        success: function (data) {
                            $('#loginModal').hide();
                            location.reload();
                        }
                    });
                }
                else {
                    alert("All Fields are required");
                }
            });

            $('#save_button_edit').click(function () {

                var clubname = $('#clubname_edit').val();
                var reviewid = $('#review_id').val();
                var diversity = $('#diversity_edit').data('raty').score();
                var inclusivity = $('#inclusivity_edit').data('raty').score();
                var workload = $('#workload_edit').data('raty').score();
                var time_commitment = $('#time_commitment_edit').data('raty').score();
                var experience_requirement = $('#experience_requirement_edit').data('raty').score();
                var text_review = $("#text_review_edit").val();

                if (clubname != '' && diversity && inclusivity && workload && time_commitment
                    && experience_requirement && text_review) {

                    $.ajax({
                        url: "/votingedit",
                        method: "POST",
                        data: {
                            reviewid: reviewid,
                            clubname: clubname,
                            diversity: diversity,
                            inclusivity: inclusivity, workload: workload,
                            time_commitment: time_commitment,
                            experience_requirement: experience_requirement,
                            text_review: text_review
                        },
                        success: function (data) {
                            $('#loginModal').hide();
                            location.reload();
                        }
                    });
                }
                else {
                    alert("All Fields are required");
                }
                });
        });

        

    </script>

    <!-- Footer-->
    {% include "footer.html" %}
</body>

</html>
