<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Profile Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Favicon-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!--ours-->
        <link href="static/styles.css" rel="stylesheet" />
    </head>

    <body style = "background-color: rgb(255, 237, 215);">
    {% include "navbar.html" %}
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 rounded-3 text-center bg-light" style="">
                        <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
                        <h1 class="text-black fs-3 fw-bolder">{{student.name}}</h1>
                        <h2 class="text-black fs-4">{{major}} {{classyear}}</h2>
                        <a class="text-black-50 mb-0"
                        href ="https://mail.google.com/mail/?view=cm&fs=1&to={{student.netid}}@princeton.edu&body=Sent%20From%20Tigerclubs" target="_blank">
                          {{student.netid}}@princeton.edu
                        </a>
                        {%if diffperson == netid%}  
                        <br>
                        <br>
                        <a class="btn btn-sm" style = "background-color: #e8804c; "href="/editprofile?netid={{netid}}">Edit Profile</a>
                        {%endif%}
                </div>
            </div>
        </header>
        <!-- Content section-->
        <section class="pt-1" style = "align-content: center;">
          <div class="container px-lg-5">
              <!-- Page Features-->
              <div class="row mx-auto gx-lg-5">
                <div class="col gx-lg-5">
                  <div class="card-body">
                    <div class="row py-3 align-items-center">
                        <h4 class="mb-0">Bio</h4>
                        </div>
                        <div class = "row">
                      <div class="col-sm-9 text-secondary">
                        {{bio}}
                      </div>
                    </div>
                    <hr>
                    <div class="row py-3 align-items-center">
                        <h4 class="mb-0">Interests</h4>
                      </div>
                      <div class = "row">
                      <div class="col-sm-9 text-secondary">
                        {%for interest in interests: %}
                        <div class = "tag2">
                          <div class = "badge text-white" style = "background-color: #e8804c;">{{interest}}</div>
                        </div>
                        <style> 
                            .tag2 {
                                display: inline-block;
                                padding-right: 0.25rem;
                                padding-left: 0.25rem;
                            }
                        </style>
                        {% endfor %}
                      </div>
                    </div>
                    <hr>
                    <br>
                    <br>
                  </div>
                </div>
                <div class="col gx-lg-5">
                    <div class="row mx-auto" style="width: 100%;">
                    {%for club in clubs: %}
                      <div class="card" style="width: 35rem; background-color: white; margin: 5px; margin-top:0">
                          <div class="card-body">
                          <h5 class="card-title" style="color: #e8804c;">{{club}}
                            {% set unselected = 5 - (club.combined|int)%}
                            <div id ="inlinereview">
                                {% for i in range(club.combined|int) %}
                                <i aria-hidden="true" class="fa fa-star"></i>
                                {% endfor %}  
                                {% for i in range(unselected) %}
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                {% endfor %} 
                            </div></h5>

                            <style>
                                .fa-star,.fa-star-o,.fa-star-half-o{
                                display:inline-block;
                                color:#FDC91B;
                                font-size:25px !important;
                                }
                                #inlinereview{
                                    display:inline-block;
                                }
                            </style></h5>
                          <h6 class="card-subtitle mb-2 text-muted">Description: {{club.description}} Long yada yaday ydaa</h6>
                          
                          
                          {%for tag in club.tags: %}
                          <div class = "tag">
                              <div class = "badge text-white" style = "background-color: #e8804c;">{{tag}}</div>
                          </div>
                          <style> 
                              .tag {
                                display: inline-block;
                                font-size: small;
                                padding-right: 0.25rem;
                              }
                          </style>
                          {% endfor %}


                          <a href="/clubpage?clubname={{club}}&netid={{netid}}" class="card-link stretched-link"></a>
                          </div>
                      </div>
                  {% endfor %}
                </div>
                </div>
              </div>
            </div>
            </section>
            <br>
            <br>
        <!-- Footer-->
        {% include "footer.html" %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


 <!-- I called this newprofile-->
