<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>

  <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>

    <meta charset = "UTF-8">
    <meta name= "viewport" content= "width-device-width, initial-scale-1.0">
    <title> Tiger Clubs</title>
    <link rel="stylesheet" href="style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">

      <!------ Include the above in your HEAD tag ---------->
      <link href="static/styles.css" rel="stylesheet" />
</head>
<body style = "background-color: rgb(255, 237, 215);">
    {% include "navbar.html" %}
    <form class="p-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Joe Smith">
        </div>
        
        <div class="form-group">
          <label for="requestReason">Request Reason</label>
          <select class="form-control" id="requestReason">
                <option value="deleteUser">Remove User From Club</option>
                <option value="blacklistUser">Blacklist User</option>
                <option value="reportUser">Report User</option>
                <option value="reportClub">Report Club</option>
                <option value="addTag">Add Tag</option>
          </select>
        </div>
        
        <div class="form-group" id="reportedUser">
          <label for="reportedUser">Which user? (Enter NetID)</label>
          <input type="text" class="form-control w-100" id="reportedUser">
        </div>

        <div class="form-group" id="clubName">
            <label for="clubName">Which club? (Enter Club Name) </label>
            <input type="text" class="form-control w-100" id="clubName">
        </div>

        <div class="form-group" id="tag">
            <label for="tag">What tag would you like?</label>
            <input type="text" class="form-control w-100" id="tag">
        </div>
        
        <div class="form-group">
          <label for="seeAnotherFieldGroup">Do You Want To See Another Group of Fields?</label>
          <select class="form-control" id="seeAnotherFieldGroup">
                <option value="no">Not Particularly.</option>
                <option value="yes">I Guess!</option>
          </select>
        </div>
        
        <div class="form-group" id="otherFieldGroupDiv">
          <div class="row">
            <div class="col-6">
              <label for="otherField1">Group: Heres One!</label>
              <input type="text" class="form-control w-100" id="otherField1">
            </div>
            <div class="col-6">
              <label for="otherField2">Group: Another One!</label>
              <input type="text" class="form-control w-100" id="otherField2">
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="comments">Please provide an explanation for this request.</label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>
{% include "footer.html" %}
<script>
    $("#requestReason").change(function() {
  if ($(this).val() == "deleteUser") {
    $('#tag').hide();
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#reportedUser').show();
    $('#reportedUser').attr('required', '');
    $('#reportedUser').attr('data-error', 'This field is required.');
    $('#clubName').show();
    $('#clubName').attr('required', '');
    $('#clubName').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "blacklistUser") {
    $('#clubName').hide();
    $('#tag').hide();
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#reportedUser').show();
    $('#reportedUser').attr('required', '');
    $('#reportedUser').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "reportUser") {
    $('#clubName').hide();
    $('#tag').hide();
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#reportedUser').show();
    $('#reportedUser').attr('required', '');
    $('#reportedUser').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "reportClub") {
    $('#reportedUser').hide();
    $('#tag').hide();
    $('#reportedUser').removeAttr('required');
    $('#reportedUser').removeAttr('data-error');
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#clubName').show();
    $('#clubName').attr('required', '');
    $('#clubName').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "addTag") {
    $('#reportedUser').hide();
    $('#clubName').hide();
    $('#reportedUser').removeAttr('required');
    $('#reportedUser').removeAttr('data-error');
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#tag').show();
    $('#tag').attr('required', '');
    $('#tag').attr('data-error', 'This field is required.');
  } else {
    $('#reportedUser').hide();
    $('#clubName').hide();
    $('#tag').hide();
    $('#reportedUser').removeAttr('required');
    $('#reportedUser').removeAttr('data-error');
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
  }
});
$("#requestReason").trigger("change");

$("#seeAnotherFieldGroup").change(function() {
  if ($(this).val() == "yes") {
    $('#otherFieldGroupDiv').show();
    $('#otherField1').attr('required', '');
    $('#otherField1').attr('data-error', 'This field is required.');
    $('#otherField2').attr('required', '');
    $('#otherField2').attr('data-error', 'This field is required.');
  } else {
    $('#otherFieldGroupDiv').hide();
    $('#otherField1').removeAttr('required');
    $('#otherField1').removeAttr('data-error');
    $('#otherField2').removeAttr('required');
    $('#otherField2').removeAttr('data-error');
  }
});
$("#seeAnotherFieldGroup").trigger("change");
</script>
</body>
</html>
