<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>

  <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>

    <meta charset = "UTF-8">
    <meta name= "viewport" content= "width-device-width, initial-scale-1.0">
    <title> Tiger Clubs</title>
    <link rel="stylesheet" href="style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      <link href="static/styles.css" rel="stylesheet" />
      <link href="static/footeredits.css" rel="stylesheet" />
      <style>
        .select2-selection__rendered {
line-height: 32px !important;
}

.select2-selection {
height: 34px !important;
}
      </style>
</head>
<body onbeforeunload='reset_options()'>
    {% include "navbar.html" %}
    <div id="page-container">
      <div id="content-wrap">
    <style>
      .parallax {
        /* The image used */
        background-image: url("/static/darkprinceton.png");
      
        /* Set a specific height */
        min-height: 200px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
    <div class="parallax" style = "padding-top: 5rem; padding-bottom: 2rem;">
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="row g-2">
                <div class="p-4 p-lg-3 bg-light rounded-3 text-center">
                    <h3> Request Submission </h3>
                    <p class="fs-4"> The admins will review your request shortly, and determine what actions should be made. Thank you for your help!</p>
                </div>
            </div>
        </div>
    </header>
  </div>
  <div class = "container py-5">
    <form class="p-3" action="submittedrequest" method="get" style = "background-color: rgb(255, 237, 215);">

        <div class="form-group">
          <label for="requestReason">Request Reason</label>
          <select class="form-control" style="width: 300px" id="requestReason" name="reason" required>
                <option value="place" disabled selected>Choose a request</option>
                <option value="delete_user">Remove User From Club</option>
                <option value="blacklist_user">Blacklist User</option>
                <option value="edit_user">Report User</option>
                <option value="edit_club">Report Club</option>
                <option value= "add_tag">Add Tag</option>
          </select>
        </div>
        
        <div class="form-group" id="reportedUser">
          <label for="reportedUser">Which user? (Enter NetID)</label>
          <br>
          <select class="selectUser " style="width: 300px;" id="reportedUser" name="reportedUser">
            <option></option></select>
        </div>

        <div class="form-group" id="clubName">
            <label for="clubName">Which club? (Enter Club Name) </label>
            <br>
            <select class="selectClub" style="width: 300px" id="clubName" name="clubname">
              <option></option></select>
        </div>

        <div class="form-group" id="tag">
            <label for="tag">What tag would you like?</label>
            <input type="text" class="form-control" style="width: 300px" id="tag" name="tag" maxlength = 20>
        </div>
        
        <div class="form-group" id="explanation">
          <label for="comments">Please provide an explanation for this request.</label>
          <textarea class="form-control" id="comments" rows="3" name="explanation" maxlength = 40></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <br>
      <br>
    </div>
</div>
{% include "footer.html" %}
</div>
<script>
function reset_options() {
    document.getElementById('requestReason').options.length = 0;
    return true;
}
$(document).ready(function(){
  $('select').each(function () {
    var select = $(this);
    var selectedValue = select.find('option[selected]').val();

    if (selectedValue) {
      select.val(selectedValue);
    } else {
      select.prop('selectedIndex', 0);
    }
  });
 $.ajax({
		url: "/getstudentsJSON",
		type: "GET",
		success: function(data, textStatus, jqXHR)
		{
 			var xdata = $.map(data, function (obj) {
 				obj.text = obj.text || obj.name;  
				return obj;
			});
			
			$(".selectUser").select2({
				placeholder: "User Netid",
				data:xdata,
			});

		}
	});
  $.ajax({
		url: "/getclubsJSON",
		type: "GET",
		success: function(data, textStatus, jqXHR)
		{
 			var xdata = $.map(data, function (obj) {
 				obj.text = obj.text || obj.name;  
				return obj;
			});
			
			$(".selectClub").select2({
				placeholder: "Club Name",
				data:xdata,
			});

		}
	});

$("#requestReason").change(function() {
  if ($(this).val() == "delete_user") {
    $('#tag').hide();
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#tag').val('')
    $('#reportedUser').show();
    $('#reportedUser').attr('data-error', 'This field is required.');
    $('#explanation').show();
    $('#explanation').val('')
    $('#clubName').show();
    $('#clubName').attr('required', '');
    $('#clubName').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "blacklist_user") {
    $('#clubName').hide();
    $('#tag').hide();
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#clubname').val('')
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#tag').val('')
    $('#explanation').show();
    $('#explanation').val('')
    $('#reportedUser').show();
    $('#reportedUser').attr('required', '');
    $('#reportedUser').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "edit_user") {
    $('#clubName').hide();
    $('#tag').hide();
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#clubname').val('')
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#tag').val('')
    $('#explanation').show();
    $('#explanation').val('')
    $('#reportedUser').show();
    $('#reportedUser').attr('required', '');
    $('#reportedUser').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "edit_club") {
    $('#reportedUser').hide();
    $('#tag').hide();
    $('#reportedUser').removeAttr('required');
    $('#reportedUser').removeAttr('data-error');
    $('#reportedUser').val('')
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#tag').val('')
    $('#explanation').show();
    $('#explanation').val('')
    $('#clubName').show();
    $('#clubName').attr('required', '');
    $('#clubName').attr('data-error', 'This field is required.');
  }
  else if($(this).val() == "add_tag") {
    $('#reportedUser').hide();
    $('#clubName').hide();
    $('#reportedUser').removeAttr('required');
    $('#reportedUser').removeAttr('data-error');
    $('#reportedUser').val('')
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#clubname').val('')
    $('#explanation').show();
    $('#explanation').val('')
    $('#tag').show();
    $('#tag').attr('required', '');
    $('#tag').attr('data-error', 'This field is required.');
  } else {
    $("#requestReason").val("place");
    $('select').val('place');
    $('#reportedUser').hide();
    $('#clubName').hide();
    $('#tag').hide();
    $('#explanation').hide();
    $('#reportedUser').removeAttr('required');
    $('#reportedUser').removeAttr('data-error');
    $('#reportedUser').val('')
    $('#clubName').removeAttr('required');
    $('#clubName').removeAttr('data-error');
    $('#clubname').val('')
    $('#explanation').val('')
    $('#tag').removeAttr('required');
    $('#tag').removeAttr('data-error');
    $('#tag').val('')
  }
});
$("#requestReason").trigger("change");

});
</script>
</body>
</html>
