<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="static/tigerclubsicon.ico" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Student Search</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <!--ours-->
    <link href="static/styles.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />
  </head>
  <body style="background-color: white">
    {% include "navbar.html" %}

    <style>
      .parallax {
        /* The image used */
        background-image: url("/static/darkprinceton.jpeg");
      
        /* Set a specific height */
        min-height: 200px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
  <!-- Header-->
    <div class="parallax px-lg-5"style = "padding-top: 5rem; padding-bottom: 2rem;">
      <br>
      <div class="p-4 bg-dark rounded-3 text-center" style = "color: white; height: 20rem;">
        <div class="m-4 m-lg-4">
          <h2><strong>Look up a friend!</strong></h2>
          <p class="fs-4">Find out which clubs your friends are in!</p>
          <br>
          <form
            class="form-inline my-2 my-lg-0"
            style="padding-top: 2%"
            action="/studentsearch"
            method="get"
          >
          <div class="flex-container-search">

          <div class ="flex-item  col-8">
            <input
              class="form-control"
              type="search"
              name="studentname"
              placeholder="Search Student"
              value="{{studentname}}"
              aria-label="Search"
            />
            </div>
            <div class = "flex-item col-2">
            <button
              class="btn btn-outline input-block-level"
              style="background-color: #e8804c; width:100%;"
              type="submit"
            >
              Search
            </button>
          </div>
          </div>
          </form>
        </div>
      </div>
      <br>
    </div>
    <!-- Page Content-->
    <section class="pt-4">
      <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
          {%for student in students.items:%}
          <div class="col-lg-6 col-xxl-4 mb-5">
            <div
              class="card"
              style="
                background-color: white;
                outline: black;
                outline-style: initial;
              "
            >
              <div class="card-body bg-light text-center">
                <img
                  class="rounded-circle"
                  src="{{student.pictureURL}}"
                  width="100"
                  height="100"
                />
                <a
                  href="/profile?diffperson={{student.netid}}"
                  class="card-link stretched-link"
                ></a>
                <h2 class="fs-4 fw-bold">{{student.name}}</h2>
                {{student.netid}}
                <br />
                {{student.year}}
                <br />
                {{student.res_college}}
              </div>
              <style>
                .card:hover{
                  box-shadow: 1px 8px 20px grey;
                  -webkit-transition: box-shadow 0.2s ease-in;
                }
              </style>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Pagination Links-->
    <div class="float-right">
      <a href="{{ url_for('studentsearch', page=students.prev_num) }}"
        class="btn btn-outline-dark 
        {% if students.page == 1 %}disabled{% endif %}">
          &laquo;
      </a>
    <!-- Loop through the number of pages to display a link for each-->
      {% for page_num in students.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
              {% if students.page == page_num %}
              <a href="{{ url_for('studentsearch', page=page_num) }}"
                class="btn btn-dark">
                  {{ page_num }}
              </a>
              {% else %}
              <a href="{{ url_for('studentsearch', page=page_num) }}"
                class="btn btn-outline-dark">
                  {{ page_num }}
              </a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}
      <a href="{{ url_for('studentsearch', page=students.next_num) }}"
        class="btn btn-outline-dark 
        {% if students.page == students.pages %}disabled{% endif %}">
          &raquo;
      </a>
    </div>
    <p class="text-right mt-3">
    Showing page {{ students.page }} of {{ students.pages }}
    </p>

    <!-- Footer-->
    {% include "footer.html" %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
