*{
    margin: 0px;
    padding: 0x;
    font-family: "Nunito", sans-serif;
}

.menu-bar{
    background-image: linear-gradient(-90deg, #d38312, #a83279);
}

.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight:500;
}