<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>

  <link rel="shortcut icon" href="static/tigerclubsicon.ico"/>

    <meta charset = "UTF-8">
    <meta name= "viewport" content= "width-device-width, initial-scale-1.0">
    <title> Tiger Clubs</title>
    <link rel="stylesheet" href="style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">

      <!------ Include the above in your HEAD tag ---------->
      <link href="static/styles.css" rel="stylesheet" />
</head>
<body style = "background-color: rgb(255, 237, 215);">
    {% include "navbar.html" %}
    <br>
    <br>
    <p>
     Make sure the info you entered is correct and try again.
    </p>
    <br><br>
    {% include "footer.html" %}
</body>
</html>
