html,
body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
}

.flex {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
